* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

.content-wrapper {
    max-width: 1000px;
    margin: auto;
}

.boxone .content-wrapper {
    height: 100vh;
}

.flex-container {
    display: flex;
}

.boxone {
    /* background-color: #1F2937; */
    position: relative;

}

.boxone,
header a {
   /* color: #fff;/*
}